<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav-menu-top</title>
    <link rel="stylesheet" href="/css/nav-menu-top.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
            <!-- menu -->
            <input
                id="close-menu"
                class="close-menu"
                type="checkbox"
                aria-label="close-menu"
                role="button"
            />
            <label
                class="close-menu-label"
                for="close-menu"
                title="close menu"
            ></label>
            <div class="barra">
                <div class="menu-centro">
                    <div class="barra-conteiner centralizador">
                        <div class="logo esquerda">
                            <!--<a href="index.html"
                                ><img src="./assets/img/logotechsos.png" alt="logo" class="logotechsos"/>
                            </a>-->
                        </div>
                        <nav class="direita">
                            <ul
                                onclick="getElementById('close-menu').checked=false;"
                            >
                                <li><a href="/index.html">Início</a></li>
                                <li><a href="/views/reset.html">RESET</a></li>
                                <li><a href="/views/start.html">START</a></li>
                                <li><a href="/views/cdv.html">CDV</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- menu -->
    
</body>
</html>